[Bb]in/
[Oo]bj/
**/bin/
**/obj/

.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.user
*.userosscache
*.sln.docstates
*.suo

TestResults/
*.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.appsettings.Development.json
*.appsettings.Local.json